/* External CSS file for overall website styling */

/* Header styles */
header {
    background-color: #2a77a2; /* Ocean blue */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px; /* Adjust logo size as needed */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a.active {
    border-bottom: 2px solid white; /* Bottom border for active link */
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  .mission {
    text-align: center;
  }
  
  .content-links {
    margin-top: 50px;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .gallery a {
    margin: 10px;
  }
  
  .gallery img {
    max-width: 200px; /* Adjust thumbnail size as needed */
  }
  
  /* Footer styles */
  footer {
    background-color: #2a77a2; /* Ocean blue */
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  