 *{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}/* External CSS file for overall website styling */
/* Header styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    opacity: 90%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
  }

  body{
    margin-bottom: 0px;
    animation: fadeInBackground 1.2s ease-in-out forwards;

  }
  
  .logo img {
    width: 150px; /* Adjust logo size as needed */
    padding-left: 50px;
  }
  

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a.active {
    border-bottom: 2px solid rgba(5, 127, 210, 0.308); /* Bottom border for active link */
  }
  
  nav ul li a:hover {
    border-bottom: 2px solid rgba(113, 175, 216, 0.308); 
  }
  
  /* Main content styles */
  main {
    display: flex;
    flex-direction: column;
  }

  .content {
    position: relative;
    font-size: 1.3rem;
    margin-top: 200px;
    z-index: 1; /* Ensure content is above the video */
    color: #fff; /* Example text color */
    text-align: center; /* Example alignment */
    padding: 5% 10%;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
  }
  
  .mission {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5%;
    
  } 

  #tile1, #tile3{
    background-color: #022859;
  }

  #tile2, #tile4{
    background-color: #011C40;
  }




  .description {
    width: 33.3%;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    font-size: 30px; /* Ensure content is above the video */
    color: #fff; /* Example text color */
    text-align: center; /* Example alignment */
  }

  .sdglogo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 120px;
    flex: 1;
  }

  
  #sdglogo{
    height:30vh;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
  }

  @media screen and (max-width: 768px) {
    .sdglogo {
      display: none;
    }
  }

  .introduction{

    line-height: 180%;
    text-align: center;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 120px;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    
  }

  




.intro{
  height: 75vh;
  display: flex;
  background-color: rgb(0, 125, 188);
  overflow: hidden;

}


/* Welcome Video */
.video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; 
  background: #000; /* Fallback color */
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.join-button {
  margin-top: 5%;
  font-size: 15px;
  display: inline-block;
  padding: 12px 24px;
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 999px;
  transition: background-color 0.3s ease;
  border: none;
}

.footer-content{
  display: flex;
  flex-direction: row;
}

.footer-image{
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

#footer-image{
  width: 200px;
  text-shadow: #fff;
  stroke: #fff;
}

.footer-links{
  line-height: 150%;
  flex: 1;
  margin-top: 15px;
  text-align:left;

}

.footer-links ul{
  list-style-type: none;


}

.footer-links a{
  color:#fff;
  text-decoration: none;

}

.footer-links a:hover{
  text-decoration: underline;

}

.copyright{
  margin-top: 20px;
  text-align: center;
}


@keyframes animate {
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}


@keyframes fadeInBackground {
  from {
    opacity: 0; /* Start with fully transparent */
  }
  to {
    opacity: 1; /* Fade in to fully opaque */
  }
}

/*Video End*/ 
  
  /* Footer styles */
  footer {
    position: relative;
    background-color: #011526; /* Ocean blue */
    width: 100%;
    color: #ffffff;
    padding: 10px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
  }
  

  .card {
    background-color: #fff; /* White background for the card */
    color: #1075e1d2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
    padding: 20px; /* Add padding for spacing */
    margin-top: 20px; /* Add spacing between .intro and .card */
  }

  .infocards{
    display: flex;
    gap: 3%;
  }

  .card:hover {
    background-color: #1075e1d2; 
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    margin: 10% auto;
 
  }

  .tile{
    display: flex;
    background-color: #F2F2F2;
    padding: 20%;
    height: 30vh;
    width: 100%;
    justify-content: space-around;

  }

  .tilecontent{
    color:black;
    align-content: center;
    max-width: 500px;
  }

  /* Hover effect */
.tile:hover {
  transform: translateY(-5px); /* Lift the box */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.tileimg{
  justify-content: center;
  align-content: center;
}

.links {
  background-image: url('/home/BG1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
}
