*{
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(shopBg.png);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    animation: fadeInBackground 1s ease-in-out forwards;
}



.container h1{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
@keyframes fadeInBackground {
    from {
      opacity: 0; /* Start with fully transparent */
    }
    to {
      opacity: 1; /* Fade in to fully opaque */
    }
  }

.main-content {
    flex: 1; /* Takes up remaining space */
    display: flex;
}

.products-grid {
    flex: 0 0 100%; 
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.product {
    height: 300px;
    width: 250px;
    background-color: #f9f9f9; /* Light gray background */
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease; /* Add transition for smoother hover effect */
}

.product .product-image {
    max-width: 73%;
    max-height: 73%;
}

.product:hover {
    transform: scale(1.05);
    border: 5px solid rgb(0, 125, 188); 
}

.product h2,
.product p {
    margin: 0;
}

.product input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
}

.product button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.product button:hover {
    background-color: #0056b3; 
}


.basket {
    flex: 0 0 20%; 
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
}

.basket h2 {
    margin-top: 0;
    padding: 10%;
    text-align: center;
}

.basket ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.basket li {
    margin-bottom: 10px;
}

.remove-item {
    background-color: transparent;
    border: 2px solid #ff3d00; /* Red border */
    color: #ff3d00; /* Red color */
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-item:hover {
    background-color: #ff3d00; /* Red background on hover */
    color: #ffffff; 
}

#paybtn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff; 
    background-color: #007bff; /* Blue button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#paybtn:hover{
    background-color: #0056b3;
}

#total{
    padding: 3%;
    font-size: 1.3rem;
}

.payandtot{
    background-color: rgb(247, 243, 239);
    border-radius: 20px;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}