body {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    flex-direction: column; /* Set flex direction to column */
}

.main-content {
    flex: 1; /* Takes up remaining space */
    display: flex;
    gap: 20px; /* Add gap between products and basket */
}

.products-grid {
    flex: 0 0 80%; /* 80% width */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;


}
.product {
    height: 250px;
    width: 250px;
    background-color: #f9f9f9; /* Light gray background */
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease; /* Add transition for smoother hover effect */
}

.product .product-image {
    max-width: 73%;
    max-height: 73%;
}

.product:hover {
    transform: scale(1.05); /* Scale up on hover to make it stand out */
}

.product h2,
.product p {
    margin: 0;
}

.product input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
}

.product button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.product button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


.basket {
    flex: 0 0 20%; /* 20% width */
    background-color: #f9f9f9; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
}

.basket h2 {
    margin-top: 0;
}

.basket ul {
    list-style: none;
    padding: 0;
}

.basket li {
    margin-bottom: 10px;
}

.remove-item {
    background-color: transparent;
    border: 2px solid #ff3d00; /* Red border */
    color: #ff3d00; /* Red color */
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-item:hover {
    background-color: #ff3d00; /* Red background on hover */
    color: #ffffff; /* White text color on hover */
}

.proceed-to-checkout {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.proceed-to-checkout:hover {
    background-color: #0056b3; /* Darker blue on hover */
}



/* CSS styles for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Positioning context */
    z-index: 1; /* Make sure it appears on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the modal vertically */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Set the width */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
