body {
  margin: 0;
  padding: 0;
  background-image: url(../bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  height: 100vh;
}
#loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff; /* Background color */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow */
  animation: fadeIn 0.5s ease forwards;
}

#loading-message h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333; /* Text color */
}

#create-user {
  background-color: #007bff; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#create-user:hover {
  background-color: #0056b3; /* Button background color on hover */
}

@keyframes fadeInBackground {
  from {
    opacity: 0; /* Start with fully transparent */
  }
  to {
    opacity: 1; /* Fade in to fully opaque */
  }
}

#profile {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 15%;
  background-color: #fff;
}

#profile p {
  margin: 5px 0;
}

.hidden {
  display: none;
}

#prompt-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

#custom-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 20px;
}
#custom-prompt #showcase {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Set the maximum width */
  width: 100%; /* Ensure it takes full width within the maximum width constraint */
  word-wrap: break-word;
}

#custom-prompt #showcase p {
  margin: 10px 0;
}

#custom-prompt #showcase p strong {
  color: #007bff; /* Prompt color */
}

#prompt-content {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}

#prompt-content label {
  display: block;
  margin-bottom: 10px;
}

#prompt-content input[type="text"] {
  width: calc(100% - 20px); /* Subtract padding */
  padding: 10px;
  margin-bottom: 10px;
}

#prompt-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#prompt-content button:hover {
  background-color: #0056b3;
}

.progress-bar {
  position: relative; /* Ensure the text is positioned relative to the progress bar */
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000; /* Text color */
}


#back-button{
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

.button-container button:hover {
  background-color: #0056b3;
}

#cancel-button, #back-button {
  background-color: #dc3545;
  color: #ffffff;
}

#submit-button {
  background-color: #007bff;
  color: #ffffff;
}
