.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    margin: 20px;
    position: relative;
}

.thumbnail {
    margin-left: 50px;
    width: 450px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 30px 50px #505050;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.details {
    position: absolute;
    background-color: rgb(0, 38, 255);
    color: #fff;
    padding: 10px;
    display: none;
    bottom: 0;
    left: 50%;
    transform: translate(0%, -50%);
    width: 400px;
}

.member:hover .details {
    display: block;
}

.title{
    font-size: 30px;
    text-align: center;
}
