* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    background-image: url(../bg.jpeg);
    overflow-x: hidden;
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
}

.container {
    min-height: 100vh; /* Ensure container covers at least the viewport height */
    position: relative; /* Ensure positioning context for absolutely positioned children */
}

.container .slide .item {
    width: 200px;
    height: 65vh;
    position: absolute;
    top: 20%;
    transform: translate(200%, 0%);
    border-radius: 20px;
    /*box-shadow: 0 30px 50px #505050;  */
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

/* Adjust positioning for first and second gallery items */
.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

/* Adjust positioning for subsequent gallery items */
.slide .item:nth-child(3) {
    left: 50%;
}
.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

/* Ensure content is displayed for the second gallery item */
.slide .item:nth-child(2) .content {
    display: block;
}

.item .content {
    position: absolute;
    top: 15%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

/* Ensure content animation is applied */


/* Define keyframe animation */
@keyframes animate {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Adjust animation as needed */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #000000;
    color: #fff;
}
