.form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.rating{
    align-items: center;
}

.rating label{
    margin-right: 20px;
}

.radios{
    align-items: center;
}

input[type="radio"] {
    margin-right: 18px; /* Adjust the margin value as needed */
}

.form-group {
    margin-bottom: 20px;
}

.error-message {
    color: red;
}

.preview {
    margin-top: 20px;
}

.confirmation {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}
