*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.parallex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


}

.parallex img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    line-height: 150%;
    background-color: rgb(0, 125, 188);
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 30px;

}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}