* {
    margin: 0;
    padding: 0;
}

body {
    background: #f9f9f9;
    overflow-x: hidden;
}

.parallex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Adjust as needed */
}

#text {
    position: absolute;
    font-size: 5vw; /* Responsive font size */
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust shadow as needed */
}

.parasec {
    display: flex;
    flex-direction: column;
}

.parallex img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    line-height: 150%;
    background-color: rgb(0, 125, 188);
    padding: 5vw; /* Responsive padding */
}

.sec h2 {
    font-size: 3vw; /* Responsive font size */
    color: #fff;
    margin: 0 0 3vw; /* Responsive margin */
}

.sec p {
    font-size: 1.5vw; /* Responsive font size */
    color: #fff;
    font-weight: 300;
}

/* Example of media query for adjusting layout on smaller screens */
@media (max-width: 768px) {
    .parallex {
        height: 30vh; /* Adjust height for smaller screens */
    }

    #text {
        font-size: 7vw; /* Adjust font size for smaller screens */
    }

    .sec {
        padding: 10vw; /* Adjust padding for smaller screens */
    }

    .sec h2 {
        font-size: 5vw; /* Adjust font size for smaller screens */
        margin-bottom: 5vw; /* Adjust margin for smaller screens */
    }

    .sec p {
        font-size: 2.5vw; /* Adjust font size for smaller screens */
    }
}
